<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="../css/index.css">
</head>
<body style="line-height: normal;">
    <div class="header">
        <div class="left">
            <div class ="heading">
                <h1 style="line-height: 2rem;">HODLINFO <span>.com</span></h1>
            </div>
            <div class="heading2">
                Powered By <span style="color: #42cbcb;">Finstreet</span>
            </div>
        </div>
        <div class="mid">
            <button>INR</button>
            <button>BTC</button>
        </div>
        <div class="right">
            <div class="circle">
                58
            </div>
            <div class="telegram"><i style="margin-right: 5px; font-size: 23px;" class="fab fa-telegram-plane"></i>Connect Telegram</div>
            <div class="checked">
                <div class="checked-btn" onclick="fun()">b</div>
            </div>
        </div>
    </div>

    <div style="overflow: auto;">
    <table class="table">
        <thead style="color: #adadad; font-weight: bolder; font-size: 1.3em;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Last</th>
            <th scope="col">Buy/Sell Price </th>
            <th scope="col">Volume </th>
            <th scope="col">Base_unit </th>
          </tr>
        </thead>
        <tbody style="line-height: 2.5rem;">
            <%  rec.forEach(dat=>{ %> 
          <tr style="background: #0f3161;">
            <th scope="row"><%=count%></th>
            <td><%=dat.name%></td>
            <td><%=dat.last%></td>
            <td>₹<%=dat.buy%>/₹<%=dat.sell%></td>
            <td>@<%=dat.volume%></td>
            <td><%=dat.basuUnit%></td>
          </tr>
          <%   count++ }) %>
          <!-- <tr>
            <th scope="row">1</th>
            <td>BTC/I NR</td>
            <td>₹2,587,506</td>
            <td>₹2,587,506/₹ 2,590,518</td>
            <td>@286.1729</td>
            <td>btc</td>
          </tr> -->
          
        </tbody>
      </table>
    </div>
    <script>
     let checked = document.querySelector(".checked-btn")
     let fun = ()=>{
       checked.classList.toggle("inactive");
     }
    </script>
</body>
</html>